<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   form {
    border: 1px solid #ddd;
    padding:5px;
    width:225px;
    background: #efefef;
   }
   label{
       display: block;
       margin-top: 5px;
   }
   input, textarea, select, option {
       min-width: 200px;
   }
  </style>
 
</head>
<body>
  <div id="app">

  <form @submit.prevent="validationForm()" >
    <p v-if="errors.length">
      <b>Please correct the following errors :</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <label>Name : </label>
    <input type="text" name="name" ref="name" v-model="name">
    <label>Address : </label>
    <textarea name="address" ref="address" v-model="address" ></textarea>
    <label>No HP : </label>
    <input type name="no_hp" ref="no_hp" v-model="no_hp" >
    <br><br>
    
    <div v-if="buttonStatus == 'submit'">
        <input type="submit" value="SUBMIT">
      </div>
      <div v-else-if="buttonStatus == 'update'">
         <input type="button" @click="updatePost(idEditPost)" value="UPDATE">
         <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
      </div>
       <div v-else-if="buttonStatus == 'upload'">
         <input type="file" name="photo" ref="photo">
         <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPost)" style="margin-top:5px;">
         <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
      </div>
  </form> 

  <br><br>

   <table border=1> 
      <tr v-for="post of posts">
        <td>
          <img width=100 :src="post.photo ? domain + post.photo : 'https://dummyimage.com/600x400/000/fff'" alt="">
        </td>
        <td>
          <b>Name : </b> {{ post.name }} <br>
          <b>Address : </b> {{ post.address }} <br>
          <b>No HP : </b> {{ post.no_hp }} <br>
        </td>
        <td>
          <button @click="editPost(post)">Edit</button>
          <button @click="removePost(post.id)">Hapus</button>
          <button @click="uploadPhoto(post)">Upload Foto</button>
        </td>
      </tr>
   </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
       el: '#app',
       data: {
        name : '',
        address: '',
        no_hp: '',
        errors : [],
        posts : [],
        domain : 'http://127.0.0.1:8000',
        buttonStatus : 'submit',
        idEditPost : null,
        idUploadPost : null
       },
       methods: {
        validationForm : function(){
           this.errors = []

           if(this.name.length < 3){
            this.errors.push('name minimal 3 karakter')
            this.$refs.name.focus()
           }
           
           if(this.address.length > 10){
            this.errors.push('address tidak boleh lebih dari 10 karakter')
            this.$refs.address.focus()
           }

           if(this.address.length == 0){
            this.errors.push('address harus diisi')
            this.$refs.name.focus()
           }

           if(this.no_hp.length < 13){
            this.errors.push('no hp tidak boleh lebih dari 13 karakter')
            this.$refs.address.focus()
           }

           if(this.no_hp.length == 0){
            this.errors.push('no hp harus diisi')
            this.$refs.name.focus()
           }
        },

        submitForm : function(){
          this.validationForm()

           if(this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            const config = {
              method : "post",
              url : `${this.domain}/api/post`,
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getPosts()
                alert(response.data.message)
                
              })
              .catch( (error) => {
                
              })
           } 
        },

        getPosts : function(){
            
            const config = {
              method : "get",
              url : `${this.domain}/api/post`
            }

            axios(config)
              .then( (response) => {
                this.posts = response.data.data
              })
              .catch( (error) => {
                console.log(error)
              })
        },

        removePost : function(id){
          const config = {
            method : "post",
            url : `${this.domain}/api/post/${id}`,
            params : {_method : "DELETE" }
          }

          axios(config)
            .then( (response) => {
                this.getPosts()
                alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            })

          console.log(id)
        },

        editPost : function(post){
          this.name = post.name
          this.address = post.address
          this.no_hp = post.n0_hp
          this.buttonStatus = 'update'
          this.idEditPost = post.id
        },

        clearForm : function(){
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonStatus = 'submit'
          this.idEditPost = null
          this.idUploadPost = null
        },

        updatePost : function(id){

          this.validationForm()

          if( this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            let config = {
              method : "post",
              url : `${this.domain}/api/post/${id}`,
              params : { _method : 'PUT'},
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getPosts()
                alert(response.data.message)
              })
              .catch( (error) => {
                console.log(error)
              })
          }
        },

        uploadPhoto : function(post){
          this.name = post.name
          this.address = post.address
          this.no_hp = post.no_hp
          this.buttonStatus = 'upload'
          this.idUploadPost = post.id
        },

        submitPhoto :function(id){
          
          let file = this.$refs.photo.files[0]

          let formData = new FormData()
          formData.append('photo' , file)

          let config = {
              method : "post",
              url : `${this.domain}/api/post/${id}/upload-photo`,
              data : formData
          }

          axios(config)
            .then( (response) => {
              this.clearForm()
              this.getPosts()
              alert(response.data.message)

            })
            .catch( (error) => {
              console.log(error)
            })
        }
      },
      created(){
         this.getPosts()
      }
   })
  </script>

</body>
</html>
