
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form action="#" id="formIsian">
        <input type="text" id="name" placeholder=" ">
        <button onclick="vm.openForm()">add</button> 
    </form>
    <br>
    <button onclick="vm.openForm()">Edit</button> 
    <button onclick="vm.openForm()">Delete</button> 
             
    <br>

  <h3>{{userName}}</h3>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        user : [
            {
                'name' : 'Muhammad Iqbal Mubarok',
            },
            {
                'name' : 'Ruby Purwanti',
            },
            {
                'name' : 'Faqih Muhammad',
            },
        ],
      },
      
      computed : {
        userName : {
          get : function(){
            return this.userName
          },
          set : function(newValue){
            var users = newValue.split(' ')
            this.userName = 'name'[0]
          }
        }
      },
    
      methods: {
        openForm : function(){
            for(var i=0; i<data.length; i++){
                    this.user = prompt("masukkan user");
                    this.user += [i][0] + "<br>" + [i][1]+ "<br>" + [i][2]
            }
        },
        addUser(user) {
                this.users.push(user);
            },
        submit() {
                this.$emit('add-user', this.user)
                this.user = {
                    name: '',
                }
            },
        editUser(user) {
            this.data = Object.assign({}, user)
            this.userId = user.id
            },
        cancelEdit(user) {
            Object.assign(user, this.data)
            this.userId = null
            },
        data() {
            return {
            UserId: null,
            }
        },
        editUser(id, data) {
            this.users = this.users.map(function(user) { 
            return user.id === id ? data : user
            });
        },
        deleteUser(id){
            this.$emit('delete-user', id)  
        },      
        },
    }),
  </script>
</body>
</html>